@import url('./fonts/fonts.css');
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: tanha;
    direction: rtl;
}
#react-burger-menu-btn{
    width: 35px!important;
    height: 35px!important;
    right: 16px!important;
    top: 30px!important;
}
.bm-overlay{
    top: 0;
    left: 0;
}
.bm-burger-bars{
    display: none;
}